body{
    background-color:#e970e9;
    animation: change-color 5s infinite;
}
@keyframes change-color{
    10%{background-color: #e970e9;}
    20%{background-color: #77b4fa;}
    40%{background-color: #99e989;}
    60%{background-color: #fae883;}
    80%{background-color: #f78f52;}
    100%{background-color: rgb(230, 79, 142);}
}


.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 4rem;
    animation: skew 10s  infinite alternate;
}

@keyframes skew{
    0%{transform: skew(-15deg, -45deg);}
    100%{transform: skew(45deg, 15deg);}
}

.square{
    background-color: palevioletred;
    width: 250px;
    height: 250px;
    border-radius: 25px;
    margin:50px auto;
    transition: all 1s;
}

.square:hover{
    background-color: aqua;
    transform: rotate(720deg);
}

.button-div{
    text-align: center;
}

.button{
    background-color: #9eafaa;
    color:black;
    text-decoration: none;
    padding:20px;
    border-radius: 15px;
    display: inline-block;
    transition: all .5s;
}

.button:hover{
    background-color: #66e04d;
    transform:scale(1.5);
}

.loading-zone{
    color: white;
    background-color: black;
    animation: stretch 5s infinite alternate;
}

@keyframes stretch{
    0%{width:100px}
    100%{width:100vw}
}
.rude{
    animation: slide 1s infinite alternate;
}

@keyframes slide{
    0%{text-align: left;}
    50%{text-align: center;}
    100%{text-align: right;}
}

img{
    opacity:0%;
    transition: opacity 1.5s;
}

img:hover{
    opacity: 100%;
}
