/* colors and styles */
:root{
--txt: #FFD4EB; 
--bg: #18020e;
--accent-1: #C2095A;
--accent-2: #F71735;
--accent-3: #EB921E;
--accent-4: #8C782E;
--accent-5: #090446;
}

body.light{
--txt: #18020e; 
--bg:#FFD4EB;
--accent-1: #FA0079;
--accent-2: #EE6123;
--accent-3: #FFCF00;
--accent-4: #88D18A;
--accent-5: #2274A5;
}

/* might buy the thing for this later */
/* @font-face{
    font-family: Monograph;
    src:url(../fonts/monograph-Regular.ttf);
} */

@font-face {
    font-family: Chistoso;
    src:url(../fonts/Chistoso-Regular.ttf);
}

@font-face {
    font-family: Angelina;
    src:url(../fonts/angelina.TTF);
}



/* CSS resets */
*,
*::before
*::after{
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
}
/* accessibilityyyyy */
html {
    font-size: 100;
    scroll-behavior: smooth;
}

/* general css */

body{
    color: var(--txt);
    background-color: var(--bg);
}

header{
    background: var(--accent-1);
    background: linear-gradient(90deg, var(--accent-1) 0%, var(--accent-2) 29%, var(--accent-3) 50%, var(--accent-4) 75%, var(--accent-5) 100%);
    border-bottom: var(--txt) dotted .4rem;
}

header h1{
    color: var(--txt);
    text-decoration: none;
    font-family: Chistoso;
    font-size: 5rem;
    padding: 2rem 4rem 0 4rem;
}

.nav-brand{
    padding: 1rem;
}

.button{
  margin: 0 5rem; 
  border: var(--accent-5);
  border-radius: .5rem;
  padding: .4rem;
  color:var(--txt);
  background-color: var(--accent-5);
}

nav a{
    text-decoration: none;
    color: var(--txt);
}

.nav-menu{
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 2rem;
}

main{
    margin: 2rem;
}

main h1{
    margin: 5rem;
}

main h2{
    padding: 1rem;
}

.portfolio-item img{
    position: relative;
    max-height: 500px;
    box-shadow: 10px 10px 3px var(--accent-4);
    bottom: 0px;
    transition: ease 0.3s
}

.portfolio-item img:hover{
    bottom: 8px;
    box-shadow: 10px 10px 15px 8px var(--accent-4);
}

footer{
    padding: 0 1rem;
    font-family: Angelina;
    font-size: 1.5rem;
}

footer img{
    display: inline;
    max-width: 32px;
}


/* flex styling */

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-container-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.flex-item-grid{
    flex: 0 1 25%;
}

.flex-item-grid-spex{
    flex: 0 1 50%
}