/* colors and styles */
:root{
--light: #ffb5dc; 
--dark: #18020e;
--accent-1: #6b0f1a;
--accent-2: #b91372;
--accent-3: #fa198b;
--accent-4: #87e752;
}

/* might have to replace this tbd */
@font-face{
    font-family: Monograph;
    src:url(../fonts/monograph-Regular.ttf);
}

@font-face {
    font-family: Chistoso;
    src:url(../fonts/Chistoso-Regular.ttf);
}

@font-face {
    font-family: Angelina;
    src:url(../fonts/angelina.TTF);
}



/* CSS resets */
*,
*::before
*::after{
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
}
/* accessibilityyyyy */
html {
    font-size: 100;
    scroll-behavior: smooth;
}

/* general css */

body{
    color: var(--light);
    background-color: var(--accent-1);
}

header{
    background-color: var(--dark);
}

header h1{
    color: var(--light);
    text-decoration: none;
    font-family: Chistoso;
    font-size: 5rem;
    padding: 2rem;
}

nav a{
    text-decoration: none;
    color: var(--light);
}

.nav-menu{
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

footer{
    font-family: Angelina;
    font-size: 1.5rem;
}

footer img{
    display: inline;
    max-width: 64px;
}


/* flex styling */

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
