/* colors */
:root{
--light: #ffb5dc; 
--dark: #073b4c;
--accent-1: #ef476f;
--accent-2: #ffd166;
--accent-3: #06d6a0;
--accent-4: #118ab2;
--accent-5: #d853ed;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

/* CSS resets */

* {
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
}
/* accessibilityyyyy */
html {
    font-size: 100;
    scroll-behavior: smooth;
}

/* general css */

body{
    color: var(--light);
    background-color: var(--dark);
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: "Comic Neue";
}

header{
    padding: 4rem 2rem;
}

header h1{
    text-shadow: 0 -1px 4px var(--accent-4), 0 -2px 10px var(--accent-3), 0 -10px 20px var(--accent-2), 0 -18px 40px var(--accent-1);
}

nav a{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--light);
    margin: 0 .5rem;
    transition: ease .5s;
}

nav a:hover{
    color:var(--accent-5)
}

.about-content, .portfolio-content, .contact-content{
    max-width: 60rem;
    margin: 2rem auto;
}

.about-content h2, .portfolio-content h2, .contact-content h2{
    margin: 2rem 0;
}

footer{
    padding: 1rem;
}

footer img{
    display: inline;
    max-width: 2rem;
    margin: 0 .5rem;
}

/* flex styling */

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}