/* CSS resets */

* {
    margin: 0;
    padding: 0;
}
/* accessibilityyyyy */
html {
    font-size: 100;
}

header {
    padding: 3rem; 
    margin: auto;
    color: #3b074b;
    text-align: center;
    border-color: white;
    border-style: none none dotted none;
    background: #ff75bf;
    background: linear-gradient(90deg, rgba(255, 117, 191, 1) 0%, rgba(255, 250, 115, 1) 22%, rgba(141, 255, 110, 1) 48%, rgba(99, 255, 226, 1) 72%, rgba(216, 83, 237, 1) 100%);
}
header h1 {
    font-size: 5rem;
}
main {
    margin: 4rem;
    text-align: center;
}
body{
    background-color: #ffb0dc;
    color: #3b074b;
    font-size: 1.5rem;
    font-family:'Courier New', Courier, monospace;
    line-height: 1.5;
}

h3{
    font-size: 1rem;
}
.about-section, .portfolio-section, .contact-section{ 
    margin-bottom: 3rem;
}